/* site colors */
$color-purple: #873a9e;
$color-overalls: #6427a7;
$color-dark-purple: #6d366f;
$color-darker-purple: #551991;
$color-darkestpurple: #4b1581;
$color-pink: #f999ff;

/* page styles */ 
@import 'pages/index.scss';
@import 'pages/page.scss';
@import 'pages/tapahtumakalenteri.scss';

/* component styles */
@import 'components/header/header.scss';
@import 'components/hero/hero.scss';
@import 'components/footer/footer.scss';
@import 'components/calendar/calendar.scss';
@import 'components/sponsors/sponsors.scss';
@import 'components/google-calendar/google-calendar.scss';
@import 'components/brand/brand.scss';
