@import url('https://fonts.googleapis.com/css?family=Karla:400,700&display=swap');

$color-purple: #873a9e;
$color-overalls: #6427a7;
$color-dark-purple: #6d366f;
$color-pink: #f999ff;

body {
  padding: 0;
  margin: 0;
  background-color: $color-purple;
  font-family: 'Karla', sans-serif;
  box-sizing: border-box;
  color: white;
}

.Page {
  min-height: calc(100vh - 60px);
  box-sizing: border-box;
  max-width: 100%;
  width: 900px;
  margin: 0 auto;
  padding: 10px;
  
  &__title {
    font-size: 2.1rem;
    text-align: center;
    margin: 10px;
    font-family: 'Karla', sans-serif;
  }
  
  > .Content {
    font-family: 'Karla', sans-serif;

    h1,h2,h3,h4,h5 {
      text-align: left;
    }

    h1 {
      font-size: 1.9rem;
    }

    h2 {
      font-size: 1.6rem;
      width: 100%;
    }

    strong {
      color: $color-pink;
    }

    > p {
      font-size: 1rem;
      text-align: left;
      margin-bottom: 22px;
      line-height: 1.5;

      > span {
        display: inline-block;
      }

      > span + span {
        display: block;
      }
    }

    a {
      color: white;
      text-decoration: none;
      border-bottom: 2px solid $color-pink;

      &:hover {
        color: $color-pink;
      }
    }

    hr {
      width: 100%;
      border: none;
      height: 3px;
      margin-bottom: 3em;
      /* Set the hr color */
      color: $color-pink; /* old IE */
      background-color: $color-pink; /* Modern Browsers */
    }

    img {
      @media (max-width: 670px), (max-screen-width: 670px) {
        max-width: 160px;
        height: auto;
      }
      border-radius: 6px;
      margin-bottom: 16px;
    }
  } 
}

.alignright {
  display: block;
  float: right;
  margin-left: 20px;
}