.Sponsors {
  background-color: var(--color-darkestpurple);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 1em;
  padding-bottom: 3em;

  h2 {
    font-size: 2em;
  }

  .logocontainer {
    display: flex;
    margin-bottom: 1em;

    > a {
      max-width: 200px;

      > img {
        max-width: 100%;
        border-radius: 4px;
        background-color: #fff;
        transition: .1s ease-in-out;

        &:hover {
          transform: scale(1.05);
        }
      }
    }
  }

  > a {
    text-decoration: none;
    border-bottom: 2px solid var(--color-pink);
    cursor: pointer;
    color: #fff;
    line-height: 1.4;
    font-size: 1.1rem;

    &:hover {
      color: var(--color-pink);
    }
  }
}
