.Sponsors {
  background-color: $color-darkpurple;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 1em;
  padding-bottom: 3em;

  > a {
    max-width: 200px;

    > img {
      max-width: 100%;
      border-radius: 4px;
      transition: .1s ease-in-out;

      &:hover {
        transform: scale(1.05);
      }
    }
  }
}