:root {
  --footer-height: 250px;

  @media (min-width: 1743px), (min-screen-width: 1743px) {
    --footer-height: 170px;
  }
}

footer {
  display: flex;
  flex-wrap: wrap;
  min-height: 170px;
  width: 100%;
  box-sizing: border-box;
  font-size: 1.1rem;
  justify-content: center;
  align-items: center;
  background-color: var(--color-darker-purple);
  height: var(--footer-height);

  &.Footer-inverted {
    background-color: #fff;

    a {
      color: var(--color-darker-purple);
    }
  }

  @media (min-width: 1024px), (min-screen-width: 1024px) {
    padding: 0 10em;
  }

  > .FooterBrand {
    height: 90px;
    margin: 2em 0 1em;

    @media (min-width: 600px), (min-screen-width: 600px) {
      height: 60px;
      margin: 0;
    }
    flex: 1;
    display: flex;
    justify-content: center;

    > img {
      max-height: 100%;
    }
  }

  > ul {
    list-style: none;
    display: flex;
    padding: 0;
    flex-flow: row wrap;
    justify-content: space-around;

    > li {
      padding: 0.5em;
      width: 165px;
    }
  }

  a {
    color: #fff;
    text-decoration: none;
    display: flex;
    align-items: center;

    &:hover {
      color: var(--color-pink);
    }

    > svg {
      margin: 0 0.5em;
    }
  }
}
