@import 'react-big-calendar/lib/css/react-big-calendar.css';

.CalendarWrapper {
  background-color: white;
  color: var(--color-purple);
  padding: 30px;
  border-radius: 25px;

  .rbc-event,
  .rbc-event.rbc-event-selected,
  .rbc-event {
    background-color: var(--color-purple);
  }

  .rbc-show-more {
    color: var(--color-purple);
  }
}

