.Calendar {
  background-color: #fff;
  color: var(--color-purple);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2em;
  margin-bottom: 4em;

  dl {
    max-width: 85%
  }
  dt {
    &:not(:first-of-type) {
      margin-top: 2em;
    }
    font-size: 1.4rem;
    color: var(--color-darker-purple);
    margin-bottom: 0.4em;
  }
  dd {
    margin: 0 0 0.3em;
  }
  > a {
    color: var(--color-darker-purple);
    margin-top: 2em;
  }
}
