.Calendar {
  background-color: #fff;
  color: var(--color-purple);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2em;

  > h1 h3 {
    color: var(--color-darker-purple);
  }

  .CalendarEvent {
    font-size: 1rem;
    color: var(--color-purple);
    width: 300px;
    max-width: 90vw;

    > time {
      margin: 4px 0;
    }

    > .title {
      color: var(--color-darker-purple);
      font-size: 1.4rem;
      margin: 0;
    }

    margin-bottom: 30px;
  }

  > a {
    color: var(--color-darker-purple);
  }
}
