@import url('https://fonts.googleapis.com/css?family=Bitter:400,700|Karla&display=swap');

$color-purple: #873a9e;
$color-pink: #f999ff;
$color-darkpurple: #551991;

body {
  padding: 0;
  margin: 0;
  font-family: 'Karla', sans-serif;
  box-sizing: border-box;
}

header {
  // FIXME: this breaks all pages except index.
  position: absolute;
}

.Hero {
  height: 100vh;
  background: url("/heroimage.jpg");
  background-position: center;
  background-size: cover;
  
  &-colorOverlay {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgba(85, 25, 145, 0.5);
    height: 100%;
    width: 100%;
  }
  
  &-info {
    font-size: 2rem;
    width: 800px;
    max-width: 90vw;
    position: relative;
    top: 53vh;

    > h1 {
      font-size: 5rem;
      margin: 0;
    }
  }
}

.FrontPage {
  display: flex;
  flex-wrap: wrap;

  > * {
    flex: 1;
  }

  @media (min-width: 1024px), (min-screen-width: 1024px) {
    flex-wrap: nowrap;
  }

  &-info {
    background-color: $color-darkpurple;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2em;

    > h1 {
      margin-bottom: 0em;
    }

    > p {
      line-height: 1.4;
      font-size: 1.1rem;
      max-width: 420px;
    }
  }

  a {
    text-decoration: none;
    border-bottom: 2px solid $color-pink;
    cursor: pointer;

    &:hover {
      color: $color-pink;
    }
  }
}
