@import url('https://fonts.googleapis.com/css?family=Karla&display=swap');

$color-purple: #873a9e;
$color-pink: #f999ff;
$color-darkpurple: #551991;

body {
  padding: 0;
  margin: 0;
  font-family: 'Karla', sans-serif;
  box-sizing: border-box;
}

header {
  // FIXME: this breaks all pages except index.
  position: absolute;
}

.FrontPage {
  display: flex;
  flex-wrap: wrap;

  > * {
    flex: 1;
    min-width: 200px;
  }

  @media (min-width: 1024px), (min-screen-width: 1024px) {
    flex-wrap: nowrap;
  }

  &-info {
    background-color: $color-darkpurple;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2em;

    > h1 {
      margin-bottom: 0em;
    }

    > p {
      line-height: 1.4;
      font-size: 1.1rem;
      max-width: 420px;
    }
  }

  a {
    text-decoration: none;
    border-bottom: 2px solid $color-pink;
    cursor: pointer;
    color: #fff;

    &:hover {
      color: $color-pink;
    }
  }
}
