header {
  /* FIXME: this breaks all pages except index. */
  position: absolute;
}

.FrontPage {
  display: flex;
  flex-wrap: wrap;

  > * {
    flex: 1;
    min-width: 200px;
  }

  @media (min-width: 1024px), (min-screen-width: 1024px) {
    flex-wrap: nowrap;
  }

  h1, h2 {
    font-size: 2em;
    margin-top: 0em;
    &:has(+ p) {
      margin-bottom: 0em;
    }
}

  .info {
    background-color: var(--color-darker-purple);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2em;

    > p {
      line-height: 1.4;
      font-size: 1.1rem;
      max-width: 420px;
    }
  }

  a {
    text-decoration: none;
    border-bottom: 2px solid var(--color-pink);
    cursor: pointer;
    color: #fff;

    &:hover {
      color: var(--color-pink);
    }
  }
}
