@import url('https://fonts.googleapis.com/css?family=Karla:400,700&display=swap');

body {
  padding: 0;
  margin: 0;
  font-family: 'Karla', sans-serif;
  box-sizing: border-box;
  color: white;
}

.Main {
  background-color: #fff;
  color: #000;
}

.Page {
  min-height: calc(100vh - var(--hero-height) - var(--footer-height));
  box-sizing: border-box;
  max-width: 100%;
  margin: 0 auto;
  padding: 10px;
  &:not(:has(> #calendar)) {
    width: 900px;
  }
  
  > .Content {
    font-family: 'Karla', sans-serif;

    h1,h2,h3,h4,h5 {
      color: var(--color-darker-purple);
      text-align: left;
    }

    h1 {
      font-size: 1.9rem;
    }

    h2 {
      font-size: 1.6rem;
      width: 100%;
    }

    strong, b {
      color: var(--color-darker-purple);
      font-weight: 700;
    }

    > p {
      font-size: 1rem;
      text-align: left;
      margin-bottom: 22px;
      line-height: 1.5;

      > span {
        display: inline-block;
      }

      > span + span {
        display: block;
      }
    }

    a {
      color: var(--color-darker-purple);
      text-decoration: none;
      border-bottom: 2px solid var(--color-pink);

      &:hover {
        color: var(--color-pink);
      }
    }

    hr {
      display: flex;
      width: 100%;
      border: none;
      height: 3px;
      margin-bottom: 3em;
      color: var(--color-purple);
      background-color: var(--color-purple);
    }

    img {
      border-radius: 6px;
      margin-bottom: 16px;
      max-width: 100%;
      height: auto;

      -webkit-box-shadow: 2px 2px 3px 0px rgba(0,0,0,0.21);
      -moz-box-shadow: 2px 2px 3px 0px rgba(0,0,0,0.21);
      box-shadow: 2px 2px 3px 0px rgba(0,0,0,0.21);
    }
  } 
}

.alignright {
  display: block;
  float: right;
  margin-left: 15px;
  margin-right: 0;
}

.wp-block-image img {
  @media (max-width: 670px), (max-screen-width: 670px) {
    max-width: 160px;
    height: auto;
  }
}
