@import url('https://fonts.googleapis.com/css?family=Karla:400,700&display=swap');

$color-purple: #873a9e;
$color-overalls: #6427a7;
$color-dark-purple: #6d366f;
$color-darker-purple: #551991;
$color-pink: #f999ff;
$header-height: 60px;
$hero-height: 30vh;

body {
  padding: 0;
  margin: 0;
  font-family: 'Karla', sans-serif;
  box-sizing: border-box;
  color: white;
}

.Main {
  background-color: #fff;
  color: #000;
}

.Page {
  min-height: calc(100vh - #{$hero-height} - 250px);
  
  @media (min-width: 1743px), (min-screen-width: 1743px) {
    min-height: calc(100vh - #{$hero-height} - 170px);
  }

  box-sizing: border-box;
  max-width: 100%;
  width: 900px;
  margin: 0 auto;
  padding: 10px;
  
  > .Content {
    font-family: 'Karla', sans-serif;

    h1,h2,h3,h4,h5 {
      color: $color-darker-purple;
      text-align: left;
    }

    h1 {
      font-size: 1.9rem;
    }

    h2 {
      font-size: 1.6rem;
      width: 100%;
    }

    strong, b {
      color: $color-darker-purple;
      font-weight: 700;
    }

    > p {
      font-size: 1rem;
      text-align: left;
      margin-bottom: 22px;
      line-height: 1.5;

      > span {
        display: inline-block;
      }

      > span + span {
        display: block;
      }
    }

    a {
      color: $color-darker-purple;
      text-decoration: none;
      border-bottom: 2px solid $color-pink;

      &:hover {
        color: $color-pink;
      }
    }

    hr {
      display: flex;
      width: 100%;
      border: none;
      height: 3px;
      margin-bottom: 3em;
      /* Set the hr color */
      color: $color-purple; /* old IE */
      background-color: $color-purple; /* Modern Browsers */
    }

    img {
      @media (max-width: 670px), (max-screen-width: 670px) {
        max-width: 160px;
        height: auto;
      }
      border-radius: 6px;
      margin-bottom: 16px;

      -webkit-box-shadow: 2px 2px 3px 0px rgba(0,0,0,0.21);
      -moz-box-shadow: 2px 2px 3px 0px rgba(0,0,0,0.21);
      box-shadow: 2px 2px 3px 0px rgba(0,0,0,0.21);
    }
  } 
}

.alignright {
  display: block;
  float: right;
  margin-left: 20px;
}